.promocao_banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
    background-color: #101820;

    span{
        color: #ffffff;
        text-align: center;
    }

}
